
  
  h1{
    color: brown;
    font-size:50px;
  
    
  }
  h2{
   
  }
  #container{
    width: 1000px;
    margin: 0;
    background: #FEECE0;
    
 

    
  }
  img{
    margin: 20px;
  }

  #container2{
    width: 1000px;
    margin: 0;
    background: #9B6647;
  }
  